@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900@&display=swap'); */

@font-face {
    font-family: PhosphateRR Solid;
    src: url('/kalakadducomedy/assets/fonts/PhosphateRR\ Solid.ttf');
}

@font-face {
    font-family: PhosphateSolid;
    src: url('/kalakadducomedy/assets/fonts/PhosphateSolid.ttf');
}

/* SETTING  */
.setting {
    max-width: 1600px;
    margin: 0 auto;

}

/* SEARCH BAR CSS  */
.search-container {
    ::-webkit-scrollbar {
        background-color: #f1f1f100;
        width: 7px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #BF0000;
        border-radius: 5px;
        width: 7px;
    }
}

.searchBar {
    width: 150%;
    border: 3px solid #0374DB;
    font-family:PhosphateRR Solid;
    font-size: 16px;
    color: #0374DB !important;

}

#searchInput::placeholder {
    font-family: PhosphateRR Solid;
    font-size: 16px;
    font-weight: 500;
    color: #0374DB;
}

.search-results li {
    list-style: none;
    cursor: pointer;
    padding: 5px;
}

.search_thumbnails {
    height: 50px;
    width: 80px;
}

.search_title {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Montserratt', sans-serif;
    color: white;
}

.search_title:hover {
    text-decoration: underline !important;
}

.search_title:hover {
    text-decoration: underline;
}

.search-results {
    display: none;
    overflow-y: auto;
    max-height: 250px;
    width: 380px;
    margin-top: 8px;
    background-image: url('/kalakadducomedy/assets/images/aboutus_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}


/* FIRST SECTION CSS  */
.first_section {
    background-image: url('/kalakadducomedy/assets/images/first_section_bg.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav_links {
    font-family: PhosphateRR Solid;
    color: #0374DB;
}

/* SECOND SECTION css  */
.second_section {
    padding: 0 15%;
    top: 650px;
}

.data_row {
    background-image: url('/kalakadducomedy/assets/images/second_section-row_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.channel_name_title {
    font-family: PhosphateRR Solid;
    color: white;
}

.subscriber_heading,
.videos_heading,
.views_heading {
    font-family: 'Inter', sans-serif;
    color: white;
}

.subs_number,
.videos_number,
.views_number {
    font-family: PhosphateRR Solid;
    color: white;
}

/* THIRD SECTION  */
.third_section{
    background-image: url('/kalakadducomedy/assets/images/aboutus_bg.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.third_section_row{
    padding-top: 100px;
}
.aboutus_heading{
    background-image: url('/kalakadducomedy/assets/images/aboutus_heading_bg.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;  
    font-family: PhosphateRR Solid;
    color: white;
}
.aboutus_text{
    font-family: 'Montserrat',sans-serif;
    background-color: white;
}

/* FOURTH SECTION CSS */
.fourth_section{
    background-image: url('/kalakadducomedy/assets/images/fourth_section_bg.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.fourth_section_col{
    background-image: url('/kalakadducomedy/assets/images/aboutus_heading_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: PhosphateRR Solid;
    color: white;
}
img.thumbnail_img.thumbnail-img.card-img-top.p-1 {
    height: 180px;
}
.title_link{
    font-family: 'Inter',sans-serif;
    color: white;
}
.title_link:hover{
    text-decoration: underline !important;
}
.card-body{
    background-color: #FFA113;
}
img.mostpopular_video_banner.img-fluid {
    height: 250px !important;
}
.fifth_section{
    background-image: url('/kalakadducomedy/assets/images/series_bg.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.series_heading{
    background-image: url('/kalakadducomedy/assets/images/aboutus_heading_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    font-family: PhosphateRR Solid;
}

/* FIFTH SECTION  */
.series_name_heading{
    font-family: PhosphateRR Solid;
    color: white;
}
.series_char{
    height: 800px;
}

/* FOOTER SECTION  */
.footer_section {
    background-image: url('/kalakadducomedy/assets/images/footer_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.channel_footer_title {
    font-family: PhosphateRR Solid;
    color: white;
}

.takla_neta_vlog_logo {
    border-radius: 50px;
}

.channel_footer_description {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.other_channel_title,
.contactus_title,
.social_link_title,
.channel_items_link,
.contactus_link,
.social_icon_link,
.copyright,
.privacy_policy,
.terms_condition,
.disclaimer {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* TERMS AND CONDITIONS CSS  */
.main {
    background-image: url('/kalakadducomedy/assets/images/terms_bg.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.terms_heading {
    font-family: PhosphateRR Solid;
    color: white;
}

.terms_second_section {
    background-image: url('/kalakadducomedy/assets/images/front_banner.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.para_col {
    padding: 7% 12%;
}

.terms_text {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
}

.gora_one_img {
    right: 130px;
    top: 100px;
}

.gora_three_img {
    left: 90px;
    top: 560px;
}

.gora_two_img {
    right: 20px;
    top: 1100px;
}

.gora_five_img {
    right: 50px;
    top: 110px;
}

.gora_four_img {
    left: 50px;
    top: 500px;
}

.privacy_gora_one_img {
    right: 110px;
    top: 90px;
}

.privacy_gora_two_img {
    right: 50px;
    top: 1400px;
}

.privacy_gora_three_img {
    left: 40px;
    top: 700px;
}

.terms_footer_section {
    background-image: url('/kalakadducomedy/assets/images/footer_bg.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}


/* PHONE MEDIA QUERY  */
@media only screen and (max-width:480px) {
    .search-container {
        margin-top: 10px;
    }

    .searchBar {
        width: 100%;
        margin-top: 10px;
    }

    .search-results {
        width: 300px;
    }

    .first_section_row {
        padding: 0 5px !important;
    }
    .first_section_col{
        padding: 10px 10px !important;
    }

    img.kala_two_img.img-fluid {
        width: 190px;
    }

    section.second_section.position-absolute {
        padding: 10px 10px !important;
        top: 887px !important;
    }

    .data_row {
        padding: 30px 0 !important;
        background-size: contain;
    }

    h3.channel_name_title.text-center.pb-5.display-5 {
        font-size: 22px !important;
        padding: 10px 0 !important
    }

    .subscriber_heading,
    .videos_heading,
    .views_heading {
        font-family: 'Inter', sans-serif;
        color: white;
        font-size: 16px !important;
    }

    .subs_number,
    .videos_number,
    .views_number {
        font-family: PhosphateRR Solid;
        color: white;
    }
    .aboutus_heading{
        margin: 20px 0;
    }
    .aboutus_text{
        font-size: 16px !important;
    }
    .aboutus_char{
        width: 250px !important;
    }
    img.char_one.img-fluid{
        width: 250px;
    }
    section.latest_videos_col.col-12.col-sm-12.col-md-2.col-lg-2.d-flex.justify-content-evenly.p-0{
        margin: 5px 0 !important;
    }
    .card.mx-2.rounded-4.shadow.shadow-lg.shadow-dark.bg-transparent.border.border-4 {
        min-width: 230px !important;
        min-height: 235px !important;
    }
    .card-title{
        font-size: 16px !important;
    }
    section.latest_videos_card_col.col-8.col-sm-12.col-md-8.col-lg-8.p-0.d-flex.align-items-center.justify-content-start{
        margin-top: 20px !important;
    }
    section.latest_videos_col.col-4.col-sm-12.col-md-2.col-lg-2.d-flex.justify-content-evenly.p-0{
        margin-top: 20px !important;
    }
    img.latest_video_banner.img-fluid{
        width: auto !important;
    }
    img.mostpopular_video_banner.img-fluid{
        height: 180px;
    }
    .series_cards.card.mx-2.rounded-4.shadow.shadow-lg.shadow-dark.bg-transparent{
        min-width: 180px !important;
        min-height: 180px !important;
    }


    .copyright,
    .privacy_policy,
    .terms_condition,
    .disclaimer,
    .channel_items_link,
    .contactus_link {
        font-size: 14px !important;
    }

    .search-container {
        margin-top: 10px;
    }

    .searchBar {
        width: 100%;
        margin-top: 10px;
    }

    .search-results {
        width: 300px;
    }

    .terms_row {
        padding: 10px 0 !important;
    }

    .terms_char {
        width: 150px;
    }

    .para_col {
        padding: 20px !important;
    }

}



/* TABLET MEDIA QUERY  */
@media only screen and (max-width:768px) {
    .search-container {
        margin-top: 10px;
    }

    .searchBar {
        width: 100%;
        margin-top: 10px;
    }

    .first_section_row {
        padding: 0 20px !important;
    }

    img.kala_two_img.img-fluid,
    .img.kala_one_img.img-fluid {
        width: 190px;
    }
    .second_section{
        padding: 10px 10px !important;
        top: 400px;
    }
    .data_row{
        background-size: contain;
    }
    .channel_name_title{
        margin: 0 0 !important;
        padding: 20px 0 !important;
    }
    .subscriber_heading,
    .videos_heading,
    .views_heading {
        font-family: 'Inter', sans-serif;
        color: white;
        font-size: 16px !important;
    }

    .subs_number,
    .videos_number,
    .views_number {
        font-family: PhosphateRR Solid;
        color: white;
    }
    p.aboutus_text.p-4.text-center.rounded-4.fw-medium{
        padding: 10px 10px !important;
    }
    section.latest_videos_col.col-12.col-sm-12.col-md-2.col-lg-2.d-flex.justify-content-evenly.p-0{
        margin: 5px 0 !important;
    }
    .card.mx-2.rounded-4.shadow.shadow-lg.shadow-dark.bg-transparent.border.border-4 {
        min-width: 14rem !important;
    }
    .card-title{
        font-size: 16px !important;
    }
    section.latest_videos_card_col.col-8.col-sm-8.col-md-9.col-lg-8.p-0.d-flex.align-items-center.justify-content-start{
        margin-top: 20px !important;
    }
    section.latest_videos_col.col-4.col-sm-4.col-md-3.col-lg-2.d-flex.justify-content-evenly.p-0{
        margin-top: 20px !important;
    }
    img.latest_video_banner.img-fluid{
        width: auto !important;
    }
    section.mostpopular_video_row.row.m-0.gy-4.py-5{
        padding: 20px 0 !important;
    }
    img.mostpopular_video_banner.img-fluid{
        height: 150px;
    }
    .series_cards.card.mx-2.rounded-4.shadow.shadow-lg.shadow-dark.bg-transparent{
        min-width: 260px;
        min-height: 220px;
    }


    .copyright,
    .privacy_policy,
    .terms_condition,
    .disclaimer,
    .channel_items_link,
    .contactus_link {
        font-size: 14px !important;
    }

    .search-container {
        margin-top: 10px;
    }

    .searchBar {
        width: 100%;
        margin-top: 10px;
    }

    .terms_row {
        padding: 10px 0 !important;
    }

    .terms_char {
        width: 180px;
    }

    .para_col {
        padding: 30px !important;
    }
}

@media only screen and (max-width:1024px) {
    p.aboutus_text.p-4.text-center.rounded-4.fw-medium{
        padding: 10px 10px !important;
    }
    section.latest_videos_col.col-12.col-sm-12.col-md-2.col-lg-2.d-flex.justify-content-evenly.p-0{
        margin: 5px 0 !important;
    }
    .card-title{
        font-size: 16px !important;
    }
    section.latest_videos_card_col.col-8.col-sm-8.col-md-9.col-lg-8.p-0.d-flex.align-items-center.justify-content-start{
        margin-top: 20px !important;
    }
    section.latest_videos_col.col-4.col-sm-4.col-md-3.col-lg-2.d-flex.justify-content-evenly.p-0{
        margin-top: 20px !important;
    }
    img.latest_video_banner.img-fluid{
        width: auto !important;
    }

    .terms_row {
        padding: 10px 0 !important;
    }

    .terms_char {
        width: 180px;
    }

    .gora_one_img {
        right: 50px;
        top: 100px;
    }

    .gora_three_img {
        left: 35px;
        top: 560px;

    }

    .gora_two_img {
        right: 30px;
        top: 1300px;
        width: 200px;
    }

    .gora_five_img {
        right: 10px;
        top: 50px;
    }

    .gora_four_img {
        left: 5px;
        top: 550px;
    }

    .privacy_gora_one_img {
        right: 50px;
        top: 90px;
    }

    .privacy_gora_two_img {
        right: 10px;
        top: 1515px;
        width: 200px;
    }

    .privacy_gora_three_img {
        left: 0px;
        top: 830px;
        width: 150px;
    }

}




/* SLIDERS CSS */
.card {
    min-width: 280px;
    min-height: 280px;
    cursor: pointer;
    width: calc(100%/3);
    animation: fade-in 1.2s cubic-bezier(.39, .575, .565, 0.6) both
}

.card:hover {
    transition: 500ms;
    transform: scale(0.9, 0.9);
}

.cards-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.cards-content::-webkit-scrollbar {
    height: 0px;
}

.cards-content:after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}

.custom-shape-divider-bottom-1701437909 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1701437909 .shape-fill {
    fill: #FEAA28;
}


/* Most Popular videos */
.mostPopular-cards-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.mostPopular-cards-content::-webkit-scrollbar {
    height: 0px;
}

.mostPopular-cards-content:after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}


/* ShadiKaRishta videos */
.ShadiKaRishta-cards-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.ShadiKaRishta-cards-content::-webkit-scrollbar {
    height: 0px;
}

.ShadiKaRishta-cards-content:after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}

/* SchoolLife videos */
.SchoolLife-cards-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.SchoolLife-cards-content::-webkit-scrollbar {
    height: 0px;
}

.SchoolLife-cards-content:after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}

/* TrainYatra videos */
.TrainYatra-cards-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.TrainYatra-cards-content::-webkit-scrollbar {
    height: 0px;
}

.TrainYatra-cards-content:after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}

/* NoteBan videos */
.NoteBan-cards-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.NoteBan-cards-content::-webkit-scrollbar {
    height: 0px;
}

.NoteBan-cards-content:after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}


/* EnglishSpekingClasses videos */
.EnglishSpekingClasses-cards-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.EnglishSpekingClasses-cards-content::-webkit-scrollbar {
    height: 0px;
}

.EnglishSpekingClasses-cards-content:after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}

/* PagaBeta videos */
.PagaBeta-cards-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.PagaBeta-cards-content::-webkit-scrollbar {
    height: 0px;
}

.PagaBeta-cards-content:after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}

