@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900@&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

@font-face {
    font-family: PhosphateRR Solid;
    src: url('/myjokeof/assets/fonts/PhosphateRR\ Solid.ttf');
}

@font-face {
    font-family: PhosphateSolid;
    src: url('/myjokeof/assets/fonts/PhosphateSolid.ttf');
}

/* SETTING  */
.setting {
    max-width: 1600px;
    margin: 0 auto;
}

/* HEADER SECTION  */
.header_section {
    background-image: url('/myjokeof/assets/images/header_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav_links {
    font-family: PhosphateRR Solid;
    color: #794900;
    font-size: 1.2em;
}

.nav_links:hover {
    text-decoration: underline;
    color: white;
}

.searchBar {
    text-align: center;
    font-family: PhosphateRR Solid;
    color: #794900;
}

.searchBar::placeholder {
    color: #794900;
}

/* FIRST SECTION CSS  */
.first_section {
    background-image: url('/myjokeof/assets/images/first_section_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box_row {
    margin: 0 25%;
}

.check_out {
    font-family: 'Cherry Bomb One', system-ui;
}

/* SECOND SECTION  */
.second_section {
    background-image: url('/myjokeof/assets/images/second_sectionbg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 5%;
}

.channel_title {
    font-family: 'Cherry Bomb One', system-ui;
    color: white;
}

.data_row {
    background-color: white;
}

.subs_heading,
.views_heading,
.videos_heading {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(#D22975, #EB7102);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subs_count,
.views_count,
.videos_count {
    font-family: PhosphateRR Solid;
    background-image: linear-gradient(#D22975, #EB7102);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* THIRD SECTION  */
.third_section {
    background-image: url('/myjokeof/assets/images/third_section_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.series_heading,
.video_heading,.aboutus_heading {
    background-image: url('/myjokeof/assets/images/board.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 400px auto;
    font-family: 'Cherry Bomb One', system-ui;
    color: white;
}

.series_name {
    font-family: PhosphateRR Solid;
    color: white;
}

.card {
    width: 17rem;
    border-color: white !important;
}

.card-body {
    background-color: #FF00C7;
}

.card-title {
    color: white;
    font-family: PhosphateRR Solid;
    letter-spacing: 1px;
}

.card-title:hover {
    text-decoration: underline;
}

/* FOURTH SECTION CSS  */
.fourth_section {
    background-image: url('/myjokeof/assets/images/fourth_section.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.popular_movies_row {
    background-image: url('/myjokeof/assets/images/popular_moviesbg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.movies_row {
    background-image: url('/myjokeof/assets/images/moviesbg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* FIFTH SECTION  */
.fifth_section{
    background-image: url('/myjokeof/assets/images/fifth_sectionbg.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.aboutus_para{
    background-color: white;
    font-family: 'Montserrat',sans-serif;
}


/* FOOTER CSS  */
.footer_section {
    background-image: url('/myjokeof/assets/images/footerbg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.channel_footer_title {
    font-family: PhosphateRR Solid;
    color: white;
}

.takla_neta_vlog_logo {
    border-radius: 50px;
}

.channel_footer_description {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.other_channel_title,
.contactus_title,
.social_link_title,
.channel_items_link,
.contactus_link,
.social_icon_link,
.copyright,
.privacy_policy,
.terms_condition,
.disclaimer {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* TERMS AND CONDITIONS CSS  */
.main {
    background-image: url('/myjokeof/assets/images/terms_bg.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.terms_heading {
    font-family: PhosphateRR Solid;
    color: white;
}

.terms_second_section {
    background-image: url('/myjokeof/assets/images/front_banner.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.para_col {
    padding: 7% 12%;
}

.terms_text {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
}
.dis_police{
    right: 80px;
    top: 100px;
}
.dis_takla{
    left: 50px;
    top: 500px;
}
.priv_police{
    right: 50px;
    top: 600px;
}
.priv_kalatwo{
    top: 50px;
}
.priv_kala{
    left: 20px;
    top: 1300px;
}
.terms_kala{
    left: 50px;
    top: 50px;
}
.terms_takla{
    right: 50px;
    top:600px;
}
.terms_kalatwo{
    left: 20px;
    top: 1100px;
}




/* MEDIA QUERY */
@media only screen and (max-width:480px) {
    .all_char_img{
        width: 300px !important;
    }

    .subs_heading,
    .views_heading,
    .videos_heading {
        font-size: 16px !important;
    }

    .third_section {
        padding: 10px 10px !important;
    }

    .card {
        min-width: 10em !important;
        min-height: 220px !important;
    }

    .card-title {
        font-size: 16px !important;
    }

    .series_heading,
    .video_heading {
        background-image: none;
    }

    .copyright,
    .privacy_policy,
    .terms_condition,
    .disclaimer,
    .channel_items_link,
    .contactus_link {
        font-size: 14px !important;
    }
    .aboutus_para{
        font-size: 16px !important;
    }
    .terms_row {
        padding: 10px 0 !important;
    }

    .terms_char {
        width: 150px;
    }

    .para_col {
        padding: 20px !important;
    }
}

@media only screen and (max-width:768px) {
.card{
    min-width: 12rem !important;
}
    .copyright,
    .privacy_policy,
    .terms_condition,
    .disclaimer,
    .channel_items_link,
    .contactus_link {
        font-size: 14px !important;
    }

    .searchBar{
        width: 100% !important;
    }
    .search-results{
        width: 300px !important;
    }
    .aboutus_para{
        padding: 5px 10px !important;
        font-size: 16px !important;
    }
    .terms_row {
        padding: 10px 0 !important;
    }

    .terms_char {
        width: 180px;
    }

    .para_col {
        padding: 30px !important;
    }
}
@media only screen and (max-width:1024px){
    .dis_police{
        right: 20px;
        top: 100px;
    }
    .dis_takla{
        left: 20px;
        top: 500px;
    }
    .priv_police{
        right: 10px;
        top: 600px;
    }
    .priv_kalatwo{
        top: 50px;
    }
    .priv_kala{
        left: 0;
        top: 1600px;
        width: 140px;
    }
    .terms_kala{
        left: 0;
        top: 80px;
    }
    .terms_takla{
        right: 50px;
        top:600px;
    }
    .terms_kalatwo{
        left: -20px;
        top: 1000px;
    }
}



/* SLIDERS CSS */
.card {
    min-width: 280px;
    min-height: 250px;
    cursor: pointer;
    width: calc(100%/3);
    animation: fade-in 1.2s cubic-bezier(.39, .575, .565, 0.6) both
}

.card:hover {
    transition: 500ms;
    transform: scale(0.9, 0.9);
}

.cards-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.cards-content::-webkit-scrollbar {
    height: 0px;
}

.cards-content:after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}

.custom-shape-divider-bottom-1701437909 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1701437909 .shape-fill {
    fill: #FEAA28;
}


/* Most Popular videos */
.mostPopular-cards-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.mostPopular-cards-content::-webkit-scrollbar {
    height: 0px;
}

.mostPopular-cards-content:after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}

/* TaklaNetaKalaKaddu videos */
.TaklaNetaKalaKaddu-cards-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.TaklaNetaKalaKaddu-cards-content::-webkit-scrollbar {
    height: 0px;
}

.TaklaNetaKalaKaddu-cards-content:after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}

/* KalaKadduTaklaNetaAnimated videos */
.KalaKadduTaklaNetaAnimated-cards-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.KalaKadduTaklaNetaAnimated-cards-content::-webkit-scrollbar {
    height: 0px;
}

.KalaKadduTaklaNetaAnimated-cards-content:after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}

/* KalaKadduKaJudwaa videos */
.KalaKadduKaJudwaa-cards-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.KalaKadduKaJudwaa-cards-content::-webkit-scrollbar {
    height: 0px;
}

.KalaKadduKaJudwaa-cards-content:after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}


/* GarmiMaiBaarish videos */
.GarmiMaiBaarish-cards-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.GarmiMaiBaarish-cards-content::-webkit-scrollbar {
    height: 0px;
}

.GarmiMaiBaarish-cards-content:after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}

/* ComedyToons videos */
.ComedyToons-cards-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.ComedyToons-cards-content::-webkit-scrollbar {
    height: 0px;
}

.ComedyToons-cards-content:after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}

/* movies videos */
.movies-cards-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.movies-cards-content::-webkit-scrollbar {
    height: 0px;
}

.movies-cards-content:after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}



/* SEARCH BAR CSS  */
.search-container {
    ::-webkit-scrollbar {
        background-color: #f1f1f100;
        width: 7px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #BF0000;
        border-radius: 5px;
        width: 7px;
    }
}

.searchBar {
    width: 150%;
    border: 3px solid #0374DB;
    font-family:PhosphateRR Solid;
    font-size: 16px;
    color: #0374DB !important;

}

#searchInput::placeholder {
    font-family: 'Chango',sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #0374DB;
}

.search-results li {
    list-style: none;
    cursor: pointer;
    padding: 5px;
}

.search_thumbnails {
    height: 50px;
    width: 80px;
}

.search_title {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Montserratt', sans-serif;
    color: white;
}

.search_title:hover {
    text-decoration: underline !important;
}

.search_title:hover {
    text-decoration: underline;
}

.search-results {
    display: none;
    overflow-y: auto;
    max-height: 250px;
    width: 360px;
    margin-top: 8px;
    background-image: url('/myjokeof/assets/images/third_section_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}


