.searchBar{
    width: 20%;
    border: 3px dashed brown;
    position: relative;
    border-radius: 50px;
}
.searchBar::placeholder{
    font-family: 'Montserrat',sans-serif;
    color: grey;
    font-size: 16px;
}

.first_container{
    background-image: url('/assets/channel_images/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.navigation_column{
    background-image: url('/assets/channel_images/wooden_stick.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.nav-links{
    color: black;
    font-family: PhosphateSolid;
    letter-spacing: 1.5px;
    font-weight: 500;
}
.nav-links:hover{
    color: white;
}
.para_one{
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
}
.watch_movie_button{
    background-color: red;
    color: white;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
}
.watch_movie_button:hover{
    border: 2px solid white;
    color: white;
}

@font-face {
    font-family: PhosphateSolid;
    src: url(/assets/fonts/PhosphateSolid.ttf);
}


/* Search results Css */
.search-container {
    ::-webkit-scrollbar{
    background-color:#f1f1f100;
    width: 7px;
    }
    ::-webkit-scrollbar-thumb{
    background-color: yellow;
    border-radius: 5px;
    width: 7px;
    }
}
#searchInput {
    width: 260px;
}
.search-results li {
    list-style: none;
    cursor: pointer;
    padding: 5px;
}
.search_thumbnails{
    height: 50px;
    width: 80px;
}
.search_title{
    font-size: 15px;
    font-weight:550;
    font-family: 'Montserratt',sans-serif;
    color: white;
}
.search_title:hover{
    text-decoration: underline;
}
.search-results{
    display: none;
    overflow-y: auto;
    max-height: 300px;
    width: 350px;
    margin-top: 8px;
    background-image: url('/assets/channel_images/wooden_badge.png');
    background-size: contain;
    background-position: center;
    background-blend-mode: multiply;
  }
 

  /* MEDIA QUERY  */
  @media only screen and (min-width:320px)and (max-width:420px){
    body{
        overflow-x: hidden !important ;
    }
    .row_one{
        padding: 10px !important;
    }
    .nav_list{
        width: 115% !important;
        justify-content: space-around;
        padding: 5px 0 !important;
    }
    .nav_list_items{
        margin: 5px !important;
    }
    .searchBar{
        height: 35px !important;
    }
    .search_col{
        margin: 5px 0 !important;
        justify-content: center !important;
    }
    .search-container{
        padding: 5px !important;
        top: 70px !important;
    }
    .search-results{
        width: 300px;
        height: 250px;
    }
    section.container-fluid.first_container.img-fluid.pb-4 {
    padding: 10px !important;
    }
    section.row_two.row.py-3.px-3 {
        position: relative;
        top: 40px;
        padding: 10px !important;
    }
    section.col-lg-6.col-md-6.col-sm-12.channel_title_col {
        position: relative;
        top: 30px;
        padding: 10px !important;
    }
    p.para_one.text-center.text-light.px-3.d-flex.justify-content-start {
        padding: 5px 10px !important;
        font-size: 16px !important;
        margin: 5px 0 !important;
        position: relative;
        top: -25px !important;
    }
    .watch_movie_btn_container.d-flex.justify-content-center.my-4 {
        margin: 20px !important;
        position: relative;
    bottom: 35px 
    }
    .char_one_image{
    width: 300px !important;
    position: relative;
    top: 25px
    }
  }