body{
    background-color: #0f0f0f;
}
.channelname_heading{
    color: #FEAA28;
    font-family: 'Anton', sans-serif;
    font-size: 6em;
    letter-spacing: 0.5px;
    animation:focus-in-contract-bck 1s cubic-bezier(.25,.46,.45,.94) both}
.channel_description{
    color: whitesmoke;
    font-family: 'Roboto','sans-serif';
    font-weight: 400;
    font-size: medium;
    animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both;
}
.content_container{
    background-image: url('../images/pumpkins_bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    height:auto !important;
    position: relative;
    background-color:#0f0f0fdf;
}
.channel_image{
    animation:bounce-in-top 1.1s cubic-bezier(.95,.05,.795,.035) both;
}
.counters{
    margin: 50px 0 50px 0;
}
.subscriber_count,.video_count,.views_count{
    font-family: 'Roboto','sans-serif';
    color: #FFA559;
    font-weight: 800;
}
.subscriber,.videos,.views{
    font-weight: 500;
    font-family: 'Roboto','sans-serif';
}
.subscriber_count_column,.video_count_column,.views_count_column{
    z-index: 1;
    animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both;
}
.navbar_items{
    border: 1px solid whitesmoke;
}
.navbar_links{
    color: #FEAA28;
    font-family: 'Roboto','sans-serif';
}
.contact_us_btn{
    color: #FEAA28;
    font-family: 'Roboto','sans-serif';
}
.navbar_links:hover{
    background-color: #FEAA28;
    border-radius: 50px;
    transition: 0.2s ease-in;
    color: black;
    -webkit-animation: scale-in-ver-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.featured_video{
    -webkit-animation:scale-in-center .8s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-center .8s cubic-bezier(.25,.46,.45,.94) both;
}
.latest{
    font-family: 'Roboto','sans-serif';
    color: white;
    font-weight: 700;
}
.latest_title{
    font-family: 'Roboto','sans-serif';
    font-weight: 600;
    font-size: medium;
}
.custom-shape-divider-bottom-1701437909 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1701437909 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 500px;
}

.custom-shape-divider-bottom-1701437909 .shape-fill {
    fill: #FEAA28;
}
/* KEYFRAMES  */
/* CHANNEL NAME  */
@keyframes focus-in-contract-bck{
    0%{
        letter-spacing:1em;transform:translateZ(300px);filter:blur(12px);opacity:0}100%{transform:translateZ(12px);filter:blur(0);opacity:1;
        }
}
/* DESCRIPTION  */
@keyframes text-focus-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}
/* LOGO  */
@keyframes bounce-in-top{0%{transform:translateY(-500px);animation-timing-function:ease-in;opacity:0}38%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}55%{transform:translateY(-65px);animation-timing-function:ease-in}72%{transform:translateY(0);animation-timing-function:ease-out}81%{transform:translateY(-28px);animation-timing-function:ease-in}90%{transform:translateY(0);animation-timing-function:ease-out}95%{transform:translateY(-8px);animation-timing-function:ease-in}100%{transform:translateY(0);animation-timing-function:ease-out}}
/* COUNTERS COLUMNS */
@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}
/* FEATURED VIDEO  */
@-webkit-keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}@keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}
/* NAVLINKS  */
@-webkit-keyframes scale-in-ver-center{0%{-webkit-transform:scaleY(0);transform:scaleY(0);opacity:1}100%{-webkit-transform:scaleY(1);transform:scaleY(1);opacity:1}}@keyframes scale-in-ver-center{0%{-webkit-transform:scaleY(0);transform:scaleY(0);opacity:1}100%{-webkit-transform:scaleY(1);transform:scaleY(1);opacity:1}}


.latest_video_cards_container{
    max-height: auto;
    flex-wrap: nowrap;
    display: flex;
    overflow-x: auto;
}
.latest_video_cards_container::-webkit-scrollbar{
    width: 0;
}

.card{
    width: calc(100%/3);
}



