@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900@&display=swap'); */

@font-face {
    font-family: PhosphateRR Solid;
    src: url('/gorakadducomedy/assets/fonts/PhosphateRR\ Solid.ttf');
}

@font-face {
    font-family: PhosphateSolid;
    src: url('/gorakadducomedy/assets/fonts/PhosphateSolid.ttf');
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #BF0000;
    border-radius: 10px;
}

/* SETTING  */
.setting {
    max-width: 1600px;
    margin: 0 auto;

}

/* SEARCH BAR CSS  */
.search-container {
    ::-webkit-scrollbar {
        background-color: #f1f1f100;
        width: 7px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #BF0000;
        border-radius: 5px;
        width: 7px;
    }
}

.searchBar {
    width: 150%;
    border: 3px solid #BF0000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

}

#searchInput::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.search-results li {
    list-style: none;
    cursor: pointer;
    padding: 5px;
}

.search_thumbnails {
    height: 50px;
    width: 80px;
}

.search_title {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Montserratt', sans-serif;
    color: white;
}

.search_title:hover {
    text-decoration: underline !important;
}

.search_title:hover {
    text-decoration: underline;
}

.search-results {
    display: none;
    overflow-y: auto;
    max-height: 250px;
    width: 380px;
    margin-top: 8px;
    background-image: url('/gorakadducomedy/assets/images/search_result_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}




/* FIRST SECTION CSS */
#first_section {
    background-image: url('/gorakadducomedy/assets/images/first_section_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.nav_list_links {
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.nav_list_links:hover {
    color: #F00101;
    text-decoration: underline !important;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.data_div {
    background-image: url('/gorakadducomedy/assets/images/data_div_bg.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.channel_heading {
    font-family: 'Inter', sans-serif;
    letter-spacing: 1.8px;
    font-weight: 600;
}

.subs_heading,
.videos_heading,
.views_heading {
    font-family: 'Inter', sans-serif;
}

.subs_number,
.videos_number,
.views_number {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: #BF0000;
}

.youtube_box_div {
    background-image: url('/gorakadducomedy/assets/images/youtube-div-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
}


/* SECOND SECTION CSS  */
.second_section {
    background-image: url('/gorakadducomedy/assets/images/video_section_bg.png');
    background-position: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.char_two,
.char_three {
    z-index: 0;
}

.video_heading {
    font-family: PhosphateSolid;
    background-image: url('/gorakadducomedy/assets/images/videos_heading_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: #BB01C5;
    font-size: 3.5em;
}



.latest_video_row {
    background-image: url('/gorakadducomedy/assets/images/latest-video-bg.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

}

.latest_videos_heading,
.mostpopular_videos_heading,
.movies_heading {
    letter-spacing: 1.5px;
    font-family: 'Inter', sans-serif;
    color: #25368A;
}

.mostpopular_video_row {
    background-image: url('/gorakadducomedy/assets/images/popular-videos-bg.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.movies_row {
    background-image: url('/gorakadducomedy/assets/images/movies_section_bg.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.prev_arrow_img {
    transform: rotate(-0.5turn);
}

.card {
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-img-top {
    height: 150px;
}

.card-text:hover {
    text-decoration: underline !important;
}

.card_title_link {
    font-family: 'Montserrat', sans-serif;
    color: #BF0000;
}

/* THIRD SECTION CSS  */
.third_section {
    background-image: url('/gorakadducomedy/assets/images/about-us-section-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 15% !important;
    height: auto;
}

.third_section_row {
    background-image: url('/gorakadducomedy/assets/images/aboutus_content_bg.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.aboutus_heading {
    font-family: PhosphateRR Solid;
    color: white;
}

.aboutus_text {
    font-family: 'Inter', sans-serif;
    color: white;
}

/* FOURTH SECTION CSS  */
.fourth_section {
    background-image: url('/gorakadducomedy/assets/images/series_section_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.series_heading {
    background-image: url('/gorakadducomedy/assets/images/videos_heading_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 3.5em;
    padding-bottom: 22px;
    font-family: PhosphateRR Solid;
    color: #FFAF53;
}

.series_title {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 500;
}

/* FOOTER SECTION  */
.footer_section {
    background-image: url('/gorakadducomedy/assets/images/footer_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.channel_footer_title {
    font-family: PhosphateRR Solid;
    color: white;
}

.takla_neta_vlog_logo {
    border-radius: 50px;
}

.channel_footer_description {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.other_channel_title,
.contactus_title,
.social_link_title,
.channel_items_link,
.contactus_link,
.social_icon_link,
.copyright,
.privacy_policy,
.terms_condition,
.disclaimer {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* TERMS AND CONDITIONS CSS  */
.main{
    background-image: url('/gorakadducomedy/assets/images/terms_bg.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.terms_heading{
    font-family: PhosphateRR Solid;
    color: white;
}
.terms_second_section{
    background-image: url('/gorakadducomedy/assets/images/front_banner.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.para_col{
    padding: 7% 12%;
}
.terms_text{
    background-color: white;
    font-family: 'Montserrat',sans-serif;
    line-height: 1.5em;
}
.gora_one_img{
    right:130px;
    top: 100px;
}
.gora_three_img{
    left:90px;
    top: 560px;
}
.gora_two_img{
    right:20px;
    top: 1100px;
}
.gora_five_img{
right: 50px;
top: 110px;
}
.gora_four_img{
    left: 50px;
    top: 500px;
}
.privacy_gora_one_img{
    right: 110px;
    top: 90px;
}
.privacy_gora_two_img{
    right: 50px;
    top: 1400px;
}
.privacy_gora_three_img{
    left: 40px;
    top: 700px;
}
.terms_footer_section{
    background-image: url('/gorakadducomedy/assets/images/footer_terms_bg.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}


/* PHONE MEDIA QUERY  */
@media only screen and (max-width:480px) {
    img.channel_name_img.img-fluid {
        width: 320px !important;
    }

    img.img-fluid.character_one {
        width: 160px !important;
    }

    h3.video_heading.text-uppercase.p-4.m-0 {
        padding: 10px 15px !important;
        font-size: 2.5em !important;
    }

    .latest_video_row,
    .videos_section_row,
    .mostpopular_video_row,
    .movies_row {
        padding: 10px 10px !important;
    }

    .card-img-top {
        border: 0;
        height: 80px !important;
    }

    .card {
        min-width: 200px !important;
        min-height: 200px !important;
    }

    .card-body {
        padding: 10px 10px !important;
    }

    .card-text {
        font-size: 14px !important;
    }

    .third_section {
        padding: 40px 10px !important;
    }

    img.aboutus_char_img.img-fluid {
        width: 200px !important;
    }

    .third_section_row {
        background-image: none !important;
    }

    .aboutus_text {
        font-size: 16px !important;
    }

    .copyright,
    .privacy_policy,
    .terms_condition,
    .disclaimer,
    .channel_items_link,
    .contactus_link {
        font-size: 14px !important;
    }

    .search-container {
        margin-top: 10px;
    }

    .searchBar {
        width: 100%;
        margin-top: 10px;
    }

    .search-results {
        width: 300px;
    }
    .terms_row{
        padding: 10px 0 !important;
    }
    .terms_char{
        width: 150px;
    }
    .para_col{
        padding:20px !important;
    }
    
}



/* TABLET MEDIA QUERY  */
@media only screen and (max-width:768px) {

    .channel_name_img {
        width: 300px !important;
    }

    .character_one {
        width: 300px !important;
    }

    h3.video_heading.text-uppercase.p-4.m-0 {
        padding: 10px 15px !important;
        font-size: 3em !important;
    }

    .latest_video_row,
    .videos_section_row,
    .mostpopular_video_row,
    .movies_row {
        padding: 10px 10px !important;
    }

    .card-img-top {
        border: 0;
        height: 110px !important;
    }

    .card {
        min-width: 250px !important;
        min-height: 200px !important;

    }

    .card-body {
        padding: 10px 10px !important;
    }

    .card-text {
        font-size: 14px !important;
    }

    .third_section {
        padding: 40px 10px !important;
    }

    .img.aboutus_char_img.img-fluid {
        width: 300px !important;
        display: flex;
        align-items: center !important;
    }

    .third_section_row {
        background-image: none !important;
    }

    .aboutus_text {
        font-size: 16px !important;
    }

    .copyright,
    .privacy_policy,
    .terms_condition,
    .disclaimer,
    .channel_items_link,
    .contactus_link {
        font-size: 14px !important;
    }

    .search-container {
        margin-top: 10px;
    }

    .searchBar {
        width: 100%;
        margin-top: 10px;
    }
    .terms_row{
        padding: 10px 0 !important;
    }
    .terms_char{
        width: 180px;
    }
    .para_col{
        padding:30px !important;
    }
}

@media only screen and (max-width:1024px) {
    .channel_name_img {
        width: 300px !important;
    }

    .character_one {
        width: 300px !important;
    }

    h3.video_heading.text-uppercase.p-4.m-0 {
        padding: 10px 15px !important;
        font-size: 3em !important;
    }

    .third_section {
        padding: 40px 10px !important;
    }

    .img.aboutus_char_img.img-fluid {
        width: 320px !important;
        display: flex;
        align-items: center !important;
    }

    .third_section_row {
        background-image: none !important;
    }

    .aboutus_text {
        font-size: 18px !important;
    }
    .terms_row{
        padding: 10px 0 !important;
    }
    .terms_char{
        width: 180px;
    }
    .gora_one_img{
        right:50px;
        top: 100px;
    }
    .gora_three_img{
        left:35px;
        top: 560px;
        
    }
    .gora_two_img{
        right:30px;
        top: 1300px;
        width: 200px;
    }
    .gora_five_img{
        right: 10px;
        top: 50px;
    }
    .gora_four_img{
        left:5px;
        top: 550px;
    }
    .privacy_gora_one_img{
        right: 50px;
        top: 90px;
    }
    .privacy_gora_two_img{
        right: 10px;
        top: 1515px;
        width: 200px;
    }
    .privacy_gora_three_img{
        left: 0px;
        top: 830px;
        width: 150px;
    }
    
}


/* SLIDERS CSS */
.card {
    min-width: 280px;
    min-height: 250px;
    cursor: pointer;
    width: calc(100%/3);
    animation: fade-in 1.2s cubic-bezier(.39, .575, .565, 0.6) both
}

.card:hover {
    transition: 500ms;
    transform: scale(0.9, 0.9);
}

.cards-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.cards-content::-webkit-scrollbar {
    height: 0px;
}

.cards-content:after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}

.custom-shape-divider-bottom-1701437909 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1701437909 .shape-fill {
    fill: #FEAA28;
}


/* Most Popular videos */
.mostPopular-cards-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.mostPopular-cards-content::-webkit-scrollbar {
    height: 0px;
}

.mostPopular-cards-content:after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}


/* BandAurBaraati videos */
.BandAurBaraati-cards-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.BandAurBaraati-cards-content::-webkit-scrollbar {
    height: 0px;
}

.BandAurBaraati-cards-content:after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}

/* MusicClasses videos */
.MusicClasses-cards-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.MusicClasses-cards-content::-webkit-scrollbar {
    height: 0px;
}

.MusicClasses-cards-content:after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}


/* OnlineClasses videos */
.OnlineClasses-cards-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.OnlineClasses-cards-content::-webkit-scrollbar {
    height: 0px;
}

.OnlineClasses-cards-content:after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}

/* KalaKadduLLB videos */
.KalaKadduLLB-cards-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.KalaKadduLLB-cards-content::-webkit-scrollbar {
    height: 0px;
}

.KalaKadduLLB-cards-content:after {
    content: '';
    display: block;
    min-width: 20px;
    height: 100px;
    position: relative;
}